.container {
  background-color: #0366E7;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

h1 {
  text-align: center;
}

.card {
  margin: 50px;
  padding: 20px;
  width: 300px;
  background-color: #fff;
  border-radius: 10px;
}

.title, .price {
  text-align: center;
}

.btn-container {
  display: grid;
  justify-items: center;
}

.btn {
  padding: 10px;
  margin: 5px;
  background-color: #0366E7;
  color: #fff;
  border: 0;
  border-radius: 20px;
  width: 200px;
}

.disable {
  opacity: 50%;
}